<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="static/css/login.css">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/logopref.png') }}">
      
      <title>RotaEduca - Login</title>
   </head>
   <body>
      <!--=============== LOGIN IMAGE ===============-->
      <svg class="login__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
         <mask id="mask0" mask-type="alpha">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
         </mask>
      
         <g mask="url(#mask0)">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538 
            0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393 
            591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824 
            167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z"/>
      
            <!-- Insert your image (recommended size: 1000 x 1200) -->
            <image class="login__img" href="assets/img/bg-img.jpg"/>
         </g>
      </svg>      

      <!--=============== LOGIN ===============-->
      <div class="login container grid" id="loginAccessRegister">
         <!--===== LOGIN ACCESS =====-->
         <div class="login__access">
            <h1 class="login__title">Faça login com sua conta.</h1>
            
            <div class="login__area">
               {% if erro %}
                  <div class="login__erro">CPF ou senha incorretos.</div>
               {% endif %}
               <form action="/" method="POST" class="login__form">
                  <div class="login__content grid">
                     <div class="login__box">
                        <input type="text" id="cpf" name="cpf" required placeholder=" " class="login__input {% if erro %}erro-input{% endif %}">
                        <label for="cpf" class="login__label">CPF</label>
                        <i class="ri-mail-fill login__icon"></i>
                     </div>
         
                     <div class="login__box">
                        <input type="password" id="senha" name="senha" required placeholder=" " class="login__input {% if erro %}erro-input{% endif %}">
                        <label for="senha" class="login__label">Senha</label>
                        <i class="ri-eye-off-fill login__icon login__password" id="loginsenha"></i>
                     </div>
                  </div>
         
                  <a href="https://wa.link/xz9n4o" target="_blank" class="login__forgot">Esqueceu sua senha?</a>
         
                  <button type="submit" class="login__button">Login</button>
               </form>
    
               <div class="row">
                        <small>Não tem conta? <a href="https://wa.link/7s6pyg" target="_blank">Entre em contato com o Raul</a></small>
                    </div>
            </div>
         </div>

      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="static/js/login.js"></script>
   </body>
</html>